@model IEnumerable<InscripcionSuperHero.Models.Hero>
@{
    ViewData["Title"] = "MARVEL";
}

<div class="text-center">
    <h1 class="display-3">Bienvenido al sistema de registro</h1>
    <br />
    <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/b/b9/Marvel_Logo.svg/1200px-Marvel_Logo.svg.png" class="img-fluid" alt="Marvel" width="500px">
</div>
<br>
<br>
<br>
<main>
    
    <div class="container text-center">
    <h4 class=" display-4" >Algunos de nuestros personajes</h4>
    <br />
        <div class="row row-cols-4">
            <main class="img-container"><a href="https://www.vidaextra.com/listas/21-superheroes-antiheroes-marvel-que-queremos-ver-vengadores-square-enix" target="_blank" style="text-decoration:none"><div class="col-12"><p class="h5">Miss América</p><img src="https://i.blogs.es/88066f/screenshot_1278/1366_2000.jpeg" class="img-fluid" alt="Marvel" width="220px" height="220px"></div></a></main>
            <main class="img-container"><a href="https://www.vidaextra.com/listas/21-superheroes-antiheroes-marvel-que-queremos-ver-vengadores-square-enix" target="_blank" style="text-decoration:none"><div class="col-12"><p class="h5">Ant-Man</p><img src="https://i.blogs.es/d47bb1/1575268056_844822_1575269216_noticia_normal/1366_2000.jpeg" class="img-fluid" alt="Marvel" width="235px" height="235px"></div></a></main>
            <main class="img-container"><a href="https://www.vidaextra.com/listas/21-superheroes-antiheroes-marvel-que-queremos-ver-vengadores-square-enix" target="_blank" style="text-decoration:none"><div class="col-12"><p class="h5">Wanda</p><img src="https://i.blogs.es/e791d0/screenshot_1279/1366_2000.jpeg" class="img-fluid" alt="Marvel" width="220px" height="220px"></div></a></main>
            <main class="img-container"><a href="https://www.vidaextra.com/listas/21-superheroes-antiheroes-marvel-que-queremos-ver-vengadores-square-enix" target="_blank" style="text-decoration:none"><div class="col-12"><p class="h5">Daredevil</p><img src="https://i.blogs.es/95ffe4/screenshot_1281/1366_2000.jpeg" class="img-fluid" alt="Marvel" width="235px" height="235px"></div></a></main>
        </div>
        <br />
    </div>
</main>
